.loc__box{
    color: rgb(216, 213, 213);
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
    text-shadow: .4rem .5rem rgba(32, 5, 5, 0.795);
    
}
.loc__box__country{
    font-style: italic;
    text-transform: uppercase;
}

.loc__box__date{
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
}

.weather__box__info{
    margin-top: .5rem;
    text-align: center;
    color: chartreuse;
    font-weight: 700;
    text-shadow: .2rem .2rem black;
}

.weather__box__temp{
    font-size: 8rem;
    font-style: italic;
}
.weather__box__description{
    font-size: 6rem;
    font-style: italic;
    text-transform: uppercase;
}