.search__input{

    width: 100%;
    padding: 1.4rem;
    background-color:rgba(20, 14, 20, 0.87);
    border-radius: .4rem;
    outline: none;
    border: 4px solid rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 1.8rem;
    font-style: italic;
    appearance: none;
    margin-top: -25px;
    box-shadow: 4px 4px rgb(144, 4, 238);
}

.search__input::placeholder {
    text-align: center;
}

.search__input:focus, .search__input:hover{

    border: solid 4px rgb(115, 255, 0);
    box-shadow: none;
    transition: .3s ease-out;
}